<table class="table table-striped">
  <thead>
    <tr>
      <th>Bill ID</th>
      <th>Bill Date</th>
      <th>Due Date</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% bills.each do |bill| %>
      <tr>
        <td><%= bill.id %></td>
        <td><%= bill.bill_date.strftime('%B %d, %Y') %></td>
        <td><%= bill.due_date.strftime('%B %d, %Y') %></td>
        <td><%= number_to_currency(bill.bill_amount) %></td>
        <td><%= bill.status.capitalize %></td>
        <td>
          <%= link_to 'View', bill_path(bill), class: 'btn btn-sm btn-info' %>
          <% if bill.pending? %>
            <%= button_to 'Pay', pay_bill_path(bill), method: :post, class: 'btn btn-sm btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
